@page

<h2>Password Reset Successful</h2>

<p>Your password has been reset successfully. You can now log in with your new password.</p>

<!-- Butona tıklanmadıkça yönlendirme yapmaz -->
<button id="goToLogin">Go to Login</button>

<script>
    document.getElementById('goToLogin').addEventListener('click', function () {
        window.location.href = '/auth/login'; // Bağlantıya tıklandığında yönlendirir
    });
</script>