@page
@model Vision.Api.Pages.Authentication.ResetPasswordModel

<h2>Reset Password</h2>

<form method="post">
    @Html.AntiForgeryToken() <!-- Bu satırı ekleyin -->
    <input type="hidden" asp-for="Email"/>
    <input type="hidden" asp-for="Token"/>

    <div>
        <label for="NewPassword">New Password</label>
        <input type="password" name="NewPassword" asp-for="NewPassword" required/>
    </div>

    <div>
        <label for="ConfirmPassword">Confirm New Password</label>
        <input type="password" name="ConfirmPassword" asp-for="ConfirmPassword" required/>
    </div>

    <button type="submit">Reset Password</button>
</form>
